body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}

#populer-film {
  border: 1px solid #032541;
  border-radius: 20px;
  display: flex;
  align-self: center;
  
}

#populer-film a {
  text-decoration: none;
  color: #032541;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0;
  top: 0;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
}

#populer-film a:hover {
  background-color: #032541;
  color: white;
  border-radius: 20px;
}




#homepage-background {
  background: #032541;
  background-image: linear-gradient(
      to bottom,
      rgba(3, 37, 65, 0.52),
      rgb(3, 37, 65)
    ),
    url("images/backgrounimage.jpg");
  color: white;
  background-size: cover;
}

.detail-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}
.detail-background::before {
  content: "";
  background: linear-gradient(to bottom, trasnparent, #ddd);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#container-detail h3 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 20px;
}
#container-detail h6 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.7;
  font-weight: bold;
}
#container-detail p {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.7;
  font-weight: bold;
}
#container-detail .tagline {
  font-style: italic;
}

#button-addon2 {
  color: white;
  background: #c0fecf;
  background: -webkit-linear-gradient(to top, #c0fecf 0%, #1ed5a9 100%);
  background: -moz-linear-gradient(to top, #c0fecf 0%, #1ed5a9 100%);
  background: linear-gradient(to top, #c0fecf 0%, #1ed5a9 100%);
  border-radius: 20px;
  position: relative;
  left: -50px;
  z-index: 3;
  font-weight: bold;
}
#button-addon2:hover {
  color: #032541;
  font-weight: bold;
}

#homepage-input {
  height: 46px;
}
@media screen and (max-width: 300px) {
  #homepage-input {
    width: 300px;
  }
}

#footer {
  background-color: #032541;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
}
#footer li > a {
  color: white;
}
.scrollmenu::-webkit-scrollbar {
  height: 10px;
}

.scrollmenu::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 100px;
}

.scrollmenu::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-clip: border-box;
  background-color: #a3a3a3;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
